
@use '../scss/hero'; 
@import 'base/general';

@import 'components/boton';
@import 'components/footer';
@import 'components/navbar';

@import 'layouts/index';
@import 'layouts/ventas';
@import 'layouts/armatupc';
@import 'layouts/conocenos';

@import 'variables';
@import 'mixins';

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 768px) {  

  .hero {
    flex-direction: column;
  }

  .hero-img {
    display: none;
  }

  .hero-content p {
    display: none;
  }

  .hero-content h2, 
  .hero-content p {
    margin: 5vh;
    font-size: 2rem;
  }

  .hero-content {
    height: auto;
    text-align: center;
  }

  .product {
    grid-template-columns: 1fr;
  }

  .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    height: 300px;
    width: 300px;
  }

  .grid {
    grid-template-columns: 1fr;
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .grid img {
    height: auto;
  }

  .video {
    height: auto;
    position: relative;
    margin-left: 160px;
  }

  .nav {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
 
 

}