.nav{
    border: 100px;
    color: $text-color;
    font-weight: bold ;
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    }

.nav-link, .logo {
    text-decoration: none;
    color: $text-color;
    font-size: 24px;
    padding: $padding;
}

