@import '../variables';
@import '../mixins';

main{
    padding: $padding-main;
}

.video {
    @include flex-center;
    width: 50%;
    height: 400px;
    padding: $padding;
    margin-left: 25%;
    
}